@media(max-width: 1199px) {}

@media(max-width: 1024px) {}

@media(min-width: 991px) {}

@media(max-width: 991px) {
    .d-md {
        display: none;
    }
    .banner {
        background-size: 100%;
    }
    .banner-inner .row {
        display: block;
        min-height: auto;
    }
    .banner-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 410px;
    }
    .box-quest {
        padding: 0px;
    }
    .box-quest-title {
        height: 80px;
    }
    .box-quest-content {
        min-height: 250px;
    }
    .box-quest.border-top .box-quest-content {
        min-height: 160px;
    }
    .banner-text h2 p:nth-child(1) {
        font-size: 46px;
        line-height: 52px;
    }
    .banner-text h2 p:nth-child(2) {
        font-size: 28px;
        line-height: 34px;
    }
    .banner-text h2 p:nth-child(3) span {
        display: block;
        margin-top: 5px;
    }
    .banner-text a {
        margin-top: 0px;
    }
    .banner-img {
        position: relative;
        height: 100%;
        min-height: 410px;
        display: flex;
        align-items: center;
    }
}

@media(max-width: 768px) {
    .banner {
        background-size: cover;
    }
    .sec-left {
        padding-left: 15px;
    }
    .sec-6 {
        background: #0e9136 !important;
        padding: 0 0 30px;
    }
    .sec-6 .sec-left .img {
        position: relative;
        top: 0px;
        transform: translate(0px);
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }
}

@media(max-width: 767px) {
    .sec-5 .row div[class^='col-']:not(:last-child) .box-quest {
        margin-bottom: 15px;
    }
    .box-quest {
        padding: 10px 20px;
        border: 0px !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    }
    .box-quest-title {
        height: auto;
    }
    .box-quest-content,
    .box-quest.border-top .box-quest-content {
        min-height: auto;
    }
    .sec-1 .row,
    .sec-3 .row {
        flex-direction: column-reverse;
    }
    .sec-left,
    .sec-right .sec-img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sec-left-title {
        width: 100%;
        text-align: center;
    }
    .footer-item {
        width: 100% !important;
    }
    .footer-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .videoModal,
    .policyModal {
        width: auto !important;
    }
    .videoModal iframe,
    .modal-content {
        width: 100%;
    }
    .page-policy h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .page-policy h2 {
        font-size: 16px;
        line-height: 19px;
    }
}

@media(max-width: 680px) {
    .header-container {
        padding: 0px;
    }
    .header-inner {
        flex-wrap: wrap;
        padding: 0 7px;
    }
    .header-logo {
        position: relative;
        padding: 0px;
        max-width: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-main {
        position: relative;
        width: 30px;
    }
    .header-user,
    .header-main-content {
        width: 100%;
        margin-right: 0px;
    }
    .header-user ul {
        position: relative;
        width: 100%;
        display: flex;
    }
    .header-user ul li:nth-child(2n-1) {
        display: none;
    }
    .header-user ul li {
        position: relative;
        margin: 0px !important;
        width: 30px;
        display: flex;
        align-items: center;
    }
    .header-user ul li a {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background: transparent !important;
        border-radius: 0px !important;
        padding: 0 !important;
        overflow: hidden;
    }
    .header-user ul li:nth-child(2) a::before {
        content: '\f090';
        color: #0e9136;
        font-family: fontAwesome;
        font-size: 22px;
    }
    .header-user ul li.active a::before {
        content: 'Dùng thử';
    }
    .banner-text,
    .banner-img {
        min-height: auto;
        padding: 30px 0;
    }
    .banner-text h2 p:nth-child(1) {
        font-size: 48px;
        line-height: 54px;
    }
    .banner-text h2 p:nth-child(2) {
        font-size: 28px;
        line-height: 32px;
    }
    .heading-secondary {
        font-size: 28px;
        line-height: 32px;
    }
    .home-page {
        padding: 0px;
    }
    .sec {
        padding: 80px 0 !important;
    }
    .sec-6 {
        padding: 30px 0;
    }
    .sec-6 .sec-left .img {
        padding: 0px;
        display: none;
    }
    .sec-btn {
        text-align: center;
    }
    .swiper-button-next {
        right: -10px;
    }
    .swiper-button-prev {
        left: -10px;
    }
    .img-comment {
        max-width: 90%;
        margin: 0 auto;
    }
    .sec-img {
        margin-bottom: 30px;
    }
    .sec-5 .sec-inner .row div[class^='col-']:not(:last-child) {
        margin-bottom: 30px;
    }
    .back-to-top {
        bottom: 80px;
    }
}

@media(max-width: 486px) {
    .banner-text a {
        margin-top: 10px;
    }
    .banner-text h2 p:nth-child(1) {
        font-size: 42px;
        line-height: 46px;
    }
    .banner-text h2 p:nth-child(2) {
        font-size: 28px;
        line-height: 32px;
    }
    .banner-text h2 p:nth-child(3)>span {
        display: block;
        font-size: 20px;
        line-height: 24px;
        margin-top: 10px;
    }
    .sec-6 .sec-right h2 {
        font-size: 19px;
        line-height: 30px;
    }
    .sec-4,
    .sec-5 {
        padding: 30px 0;
    }
    .heading-secondary {
        font-size: 26px;
    }
    .copy-right p {
        margin: 0px;
    }
    .copy-right {
        padding: 10px 0;
    }
}